/*
-www.mannan.ml 
-developed by Mehedi Hasan Shuvo
-email:mehedishuvo685638@gmail.com
*/
*{
  box-sizing:border-box;
}
body{
  transition:background-color 1s;
}
.preloader{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
right:0;
bottom:0;
background:#001a66;
z-index:9999;
display:grid;
place-items:center;
overflow:hidden;
}
.preloader .preloader_contents .loader{
  display:grid;
  place-items:center;
}
/*==Navbar===*/
.header{
  width:100%;
  height:45px;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  box-shadow:0px 0 30px rgba(1,41,112,0.19);
  top:0;
  position:fixed;
  border-top:3px solid transparent;
  border-image:linear-gradient(to right,magenta,cyan,orange);
  border-image-slice:1;
  z-index:15;
  transition:background-color 1s;
}
/*light mode and dark mode in header & background**/
  /*for light mode*/
.header-light{
  background: green;   /*â†Fallback color*/
  background: rgba(255,255,255,0.8);
}
.body-dark{
  background:rgba(0,0,0,1);
}
/*for dark mode*/
.header-dark{
   background:rgba(68,68,34,0.8);
   color:white;
   color:#ffff;
}
.header-dark a{
  color:white;
  color:#ffff;
}
/****/

.nav-btn{
  width:40px;
  height: 20px;
  line-height: 4px;
  margin-top: 5px;
  margin-right:5px;
  position:relative;
  z-index:50;
  margin-right:17px;
}
.bar1,.bar2,.bar3{
  width:40px;
  height:5px;
  border-radius:100px;
  background-image:linear-gradient(to top,darkblue,blue,white);
  transition: 0.4s;
  box-shadow: 3px 3px 3px black;
}
/*Togglable class for bars*/
.change .bar1{
  background-image: linear-gradient(to top,darkred,red,white);
  transform:rotate(-40deg) translate(-7px,6px);
}
.change .bar2{
  opacity: 0;
}
.change .bar3{
  background-image: linear-gradient(to top,darkred,red,white);
  transform:rotate(35deg) translate(-5px,-8px);
}
.logo>img{
  margin-left:10px;
  width:120px;
}

.navbar{
  width:250px;
  height: 100%;
  position: fixed;
  display:none;
  animation:mh 0.3s 1;
  z-index:17 ;
}
/*light & dark mode*/
.navbar-light{
  background-image:radial-gradient(circle farthest-corner at top right,skyblue,darkblue,blue);
  /*background-color:#0045ff;/*darkblue*/
}
.navbar-dark{
  background:rgba(0,0,0,1);
}
/*****/

@keyframes mh{from{left:-300px;}to{left:0px;}}
.navbar a{
  text-decoration: none;
  padding:8px 30px 8px 1px;
  margin-left:-15px;
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:space-around;
  justify-content:space-around;
  font-size: 20px;
}
/**light and dark mode - here both light and drak mode color is white in mobile device**/
.navbar-light a{
   color:white;
   color:#ffff;
}
.navbar-dark a{
  color:#ffff;
}
/****/

.navbar a:hover{
  background-color:rgba(0,204,255,0.5);/*blue like color*/
}
.dimbg{
  position: fixed;
  width:100%;
  height: 100%;
  z-index:9 !important;
  transition: 0.4s;
  background-color: silver;/*fallback color*/
  background-color: rgba(0,0,0,0.7);
  display:none;
}



/*=====End of responsive navbar by me==--*/
section{
  box-shadow:0px 0 30px rgba(1,41,112,0.08);
}
/*===the main conatiner*/
#main{
  margin-top:27px;
  padding-top:17px;
}
/*====== Hero section========*/
.swiper1{
  width:100%;
  height:200px;
  overflow:hidden;
}
.swiper1 .mh_slides{
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0.7);
  padding-right:10vw;
  padding-top:10px;
  line-height:1px;
}
.swiper1 .text-container1{
  float:right;
  text-align:center;
  line-height:15px;
  margin-top:15px;
}
.swiper1 .text-container1 h1{
  font-weight:400;
}
.swiper1 .text-container1 h2{
  font-weight:300;
  font-size:1.99rem;
}

.swiper1 .text-container2{
  float:left;
  text-align:center;
  margin-left:10vw;
  line-height:15px;
}

/*End of hero section*/

/*=========Navigations=======*/
.navigations{
  margin:0px;
  padding-top:10px;
  padding-bottom:15px;
  background:rgba(255,255,255,0.6);
}
.navigation-box{
  border-radius:5px;
  background-image:radial-gradient(circle farthest-corner at top right,rgba(30,250,250,0.7),rgba(7,105,197,0.7));
  text-align:center;
  z-index:5;
  padding:5px 5px 17px 5px;
  position:relative;
  margin-top:7px;
}
.navigation-box .icon{
  color:#fff;
  z-index:5;
  position:relative;
  font-size:65px;
}
.navigation-box:hover .icon{
  color:#108b0e;
  transition:color 0.4s;
}
.navigation-box:hover{
    box-shadow:0px 0 30px rgba(1,41,112,0.17);
}
.navigation-box h2,.navigation-box p{
  color:#fff;
}
.navigation-box .btn{
  margin-left:60%;
  margin-top:35px;
}

.navigation-box-style{}
.navigation-box-style:before{
  position:absolute;
  content:'';
  width:170px;
  height:9px;
  bottom:0;
  left:25%;
  border-radius:7px 7px 0 0;
  background:white;
}

/*===end of navigation section===*/

/*=====Info section======*/
.info{
  margin-top:5rem;
  padding:0;
  background:rgba(255,255,255,0.6);
}

.info .trustbox{
  width:100%;
  height:270px;
  background:url("../img/bread-bg.jpg") no-repeat;
  background-size:cover;
}
.info .trustbox .transparent{
  width:100%;
  height:100%;
  background:rgba(10,100,209,0.7);
  display:grid;
  place-items:center;
  color:#ffffff;
  padding:5px;
}

.info .trustbox .transparent h2{
  font-size:2.7rem;
  font-weight:200;
}
.info .trustbox .transparent p{
  font-size:1.1rem;
}

/*image*/
.info{
  padding-bottom:25px;
  margin-bottom:25px;
}
.info .container{
  margin-top:19px;
}
.info .member{
  overflow:hidden;
  border-radius:5px;
  box-shadow:0px 0 30px rgba(1,41,112,0.08);
  text-align:center;
  background:rgba(255,255,255,0.7);
  transition:0.4s;
  margin-bottom:30px;
}
.info .member-img{
  position:relative;
  overflow:hidden;
}
.info .member-img:before{
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  bottom:0;
  background:url(../img/team-shape.svg) no-repeat center bottom;
  background-size:contain;
  z-index:1;
}
.info .member-img .social{
  position:absolute;
  border-radius:4px;
  background:rgba(255,255,255,0.4);
  top:35px;
  opacity:0;
  right:-100%;
  z-index:2;
  transition:0.5s;
}
.info .member-img .social a{
  transition:color 0.4s;
  color:rgba(1,41,112,0.5);
  display:block;
  line-height:0px;
  margin:15px 12px;
  text-align:center;
}
.info .member-img .social a:hover{
  color:rgba(1,41,112,0.8);
}
.info .member-img .social i{
  font-size:21px;
}
.info .member:hover{
  transform:scale(1.08);
  box-shadow:0px 0 30px rgba(1,41,112,0.1);
}
.info .member-img:hover .social{
  opacity:1;
  right:8px;
}
.info .member-img img{
  transition:0.5s;
}
.info .member-img:hover img{
  transform:scale(1.18) rotate(10deg);
}

.info .container .txt h3{
  position:relative;
  padding-bottom:15px;
}
.info .container .txt{
  margin-bottom:15px;
}
/**underline**/
.line1{}
.line1:before{
  position:absolute;
  content:'';
  width:70px;
  height:3px;
  background:#0d00c9;
  border-radius:20px 0 20px 3px;
  background:linear-gradient( to right,#ff00f3,#0d00c9,#00fffb);
  bottom:0;
  left:0
}
.line2{}
.line2:before{
  position:absolute;
  content:'';
  width:170px;
  height:3px;
  background:linear-gradient( to right,#ff00f3,#0d00c9,#00fffb);
  border-radius:20px 0px 20px 0px;
  bottom:0;
  left:0
}

/*****/

.info .app-bg{
  width:100%;
  height:300px;
  background:url('../img/blog-2.jpg') no-repeat;
  background-size:cover;
  margin-top:35px;
}
.info .app-bg .contents{
  width:100%;
  height:100%;
  background:rgba(204,10,190,0.8);
  display:grid;
  place-items:center;
}

.info .app-bg .texts{
  color:#ffff;
  padding:7px
}
.info .app-bg .img{
  width:100%;
}
.info .app-bg .img img{
  width:50px;
}

/*==End of info section==*/

/*===Gallery preview section*/
.gallery-preview{
  margin:25px 0 25px 0;
  padding:17px 0 17px 0;
}
.gallery-preview .gallery-title{
  margin-bottom:25px;
}
.gallery-preview .gallery-title h5{
  position:relative;
  padding-bottom:15px;
}

.gallery-preview nav a{
  text-decoration:none;
  margin-left:7%;
  padding-bottom:10px;
}
.gallery-preview nav{
  margin-bottom:35px;
}

/*isotope images*/

.gallery-preview .isotope-container1 .isotope-item{
  transition:0.4s;
  z-index:1;
  position:relative;
}
.gallery-preview .isotope-container1 .isotope-item img{
  transition:0.4s;
}
.gallery-preview .isotope-container1 .isotope-item .imgbg{
  width:93.5%;
  height:100%;
  position:absolute;
  background:rgba(0,0,0,0.6);
  z-index:4;
  top:0;
  left:30;
  right:30;
  transition:0.4s;
  display:grid;
  place-items:center;
  opacity:0;
  z-index:2;
}
.gallery-preview .isotope-container1 .isotope-item .imgbg .iso-links{
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:space-between;
  justify-content:space-between;
  
}
.gallery-preview .isotope-container1 .isotope-item .imgbg .iso-links a{
  margin-left:35px;
  width:40px;
  height:40px;
  text-decoration:none;
  background:rgba(8,62,255,0.9);
  color:white;
  display:grid;
  place-items:center;
  border-radius:50%;
  transition:0.3s;
  z-index:3;
}
.gallery-preview .isotope-container1 .isotope-item .imgbg .iso-links a i{
  font-size:18px;
}
.gallery-preview .isotope-container1 .isotope-item:hover .imgbg{
 opacity:1;
}

.isotope-active{
  border-bottom:2px solid #0033cc;
  color:#0033cc;
}
.my-btn1{
  width:110px;
  height:45px;
  display:grid;
  place-items:center;
  border:3px solid transparent;
  border-image:linear-gradient(to right,#ff00ef,#000dff,#00fff3,#00b32d);
  border-image-slice:1;
  margin:25px auto;
  color:#000dff;
}
.my-btn1:hover{
  box-shadow:0px 0 15px rgba(1,41,112,0.2);
}
/**End of gallery-preview*/

/*section .quotation */
.quotations{
  padding-top:19px;
  margin-bottom:25px;
}



/*end of section.quotation*/
/*backtoTop*/
.back-totop{
 text-decoration:none;
 width:30px;
 height:30px;
 border-radius:7px;
 color:white;
 background:rgba(184,18,255,0.8);
 position:fixed;
 bottom:15px;
 right:15px;
 z-index:990;
 visibility:hidden;
 opacity:0;
 transition:0.4s;
}
.back-totop i{
  font-size:19px;
}
.back-totop-active{
  visibility:visible;
  opacity:1;
}
.back-totop:hover{
  color:white;
}
/*end*/

/*Quotations*/
.quotations{
  padding-bottom:25px;
}
.quotations .quotation-container .quotation-box{
  width:250px;
  height:90px;
  position:relative;
  border-radius:7px;
  padding:5px;
  background:linear-gradient(to bottom,#e380ff,#c800ff);
  display:grid;
  place-items:center;
  box-shadow:0px 0 10px rgba(1,41,112,0.1);
  color:#ffff;
}
.quotations .quotation-container .quotation-box:before{
  position:absolute;
  content:'';
  top:90px;
  left:105px;
  border-bottom:none;
  border-right:15px solid transparent;
  border-left:15px solid transparent;
  border-top:15px solid rgba(200,0,255,0.9);
}
.quotations .quotation-container .quotation-profile img{
  width:77px;
  height:77px;
  border-radius:300%;
  border:3px solid white;
  box-shadow:0px 0 10px rgba(1,41,112,0.2);
}

/********/

/*section .contact*/
.contact{
  padding:25px 0 25px 0;
}
.contact .title{
  margin:7px 0 45px 5px;
}

.contact .box{
  background:rgba(1,41,112,0.18);
  padding:15px 0 10px 30px;
}
.contact .box:hover i{
  color:#29a329;
  transition:0.4s;
}

/*****/
/*Footer*/
.footer{
  padding-top:15px;
  background:rgba(31,95,255,0.7);
  color:#ffff;
  overflow:hidden;
}
.footer .social a{
  color:rgba(1,41,112,0.7);
  text-decoration:none;
  font-size:1.9rem;
}
.footer .social a:hover{
  color:#ffff;
}
.footer a{
  color:rgba(1,41,112,0.9);
  text-decoration:none;
}